.profileCreation {
  max-width: 480px;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: Dosis, sans-serif;
  margin: 0 auto;
  padding: 93px 10px 247px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.title {
  max-width: 100%;
  width: 391px;
  font-size: 24px;
  color: #000;
  font-weight: 700;
  text-align: center;
}

.headerImage {
  object-fit: contain;
  object-position: center;
  width: 100%;
  margin-top: 8px;
}

.formContainer {
  display: flex;
  margin-top: 38px;
  width: 326px;
  max-width: 100%;
  flex-direction: column;
  justify-content: start;
}

.formSection {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 20px;
  color: #8a8a8a;
  font-weight: 400;
  justify-content: start;
}

.inputGroup {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
}

.inputWrapper {
  border-radius: 10px;
  background-color: #f4f4f4;
  display: flex;
  gap: 11px;
  padding: 15px 18px;
  margin-bottom: 0.5em;
}

.inputIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  align-self: start;
}

.input {
  flex-grow: 1;
  width: 249px;
  flex-basis: auto;
  background: transparent;
  border: none;
  outline: none;
  font-size: inherit;
  color: inherit;
}

.textareaWrapper {
  border-radius: 10px;
  background-color: #f4f4f4;
  padding: 12px 20px;
  margin-top: 10px;
}

.textarea {
  width: 100%;
  height: 85px;
  background: transparent;
  border: none;
  outline: none;
  font-size: inherit;
  color: inherit;
  resize: none;
}

.socialInputs {
  display: flex;
  margin-top: 28px;
  width: 100%;
  flex-direction: column;
  justify-content: start;
}

.uploadButton {
  border-radius: 5px;
  background-color: #f5b700;
  align-self: center;
  display: flex;
  margin-top: 26px;
  min-height: 61px;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  color: #9d3221;
  font-weight: 700;
  white-space: nowrap;
  text-align: center;
  justify-content: center;
  padding: 11px 12px;
  border: none;
  cursor: pointer;
}

.uploadIcon {
  aspect-ratio: 0.97;
  object-fit: contain;
  object-position: center;
  width: 38px;
  align-self: stretch;
  margin: auto 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@font-face {
  font-family: 'Dosis'; /* Name of the font */
  src: url('../fonts/Dosis-Medium.ttf'); /* Add other formats if necessary */
  font-weight: normal; /* Specify the font weight */
}

@font-face {
  font-family: 'Dosis'; /* Name of the font */
  src: url('../fonts/Dosis-Bold.ttf'); /* Add other formats if necessary */
  font-weight: bold; /* Specify the font weight */
}